<div id="home">
  <div class="box is-align-items-center has-fade-effect mb-2" id="section">
    <p class="title" style="text-align:center;" id="greeting">👋 Hi there!</p>
    <p>Welcome to Lynxmic's personal website! Feel free to explore what's in store. Just switch between all these tabs or click on one of the buttons below to get started! :D</p>
    <p><i>This website is no longer in active development. The new personal website is <a href="https://clyron.is-a.dev">clyron.is-a.dev</a>.</i></p>
    <p class="subtitle" style="text-align:center;">❔ Where do you want to go?</p>
    <div class="field is-grouped is-justify-content-center">
      <div class="control">
        <a class="button is-rounded is-medium" href="https://youtube.com/@lynxmic">
          <i class="fab fa-youtube"></i>&nbsp;&nbsp;Check out Lynxmic on YT
        </a>
        </div>
    <div class="control">
    <a class="button is-rounded is-medium" href="https://lynxmic.github.io/discord">
      <i class="fab fa-discord"></i>&nbsp;&nbsp;Join Lynxmic's Square
    </a>
    </div>
    </div>
    <div id="info">
      <p id="userAgent"></p>
      <p id="dateTime"></p>
      <noscript><p><i class="fas fa-circle-exclamation"></i>&nbsp;<strong>JavaScript is disabled, website may not work as intended.</strong></p></noscript>
    </div>
    </div>
    </div>
